<ion-content>
  <div class="container-main">
    <h1>Login</h1>
    <ion-item>
      <ion-label position="floating">Digite seu e-mail</ion-label>
      <ion-input type="email" [(ngModel)]="userLogin.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Digite sua senha</ion-label>
      <ion-input type="password" [(ngModel)]="userLogin.password"></ion-input>
    </ion-item>
    <ion-button (click)="login()">Entrar</ion-button>
    <h6>Criar uma nova conta</h6>
  </div>
</ion-content>
