<ion-content>
  <div class="container-main">
    <h1>Cadastro</h1>
    <ion-item>
      <ion-label position="floating">Digite seu e-mail</ion-label>
      <ion-input type="email" [(ngModel)]="userRegister.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Digite seu e-mail novamente</ion-label>
      <ion-input type="email" [(ngModel)]="confirmEmail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Digite sua senha</ion-label>
      <ion-input type="password" [(ngModel)]="userRegister.password"></ion-input>
    </ion-item>
    <ion-button (click)="register()">Cadastrar</ion-button>
    <h6 (click)="toLogin()">Fazer login</h6>
  </div>
</ion-content>
